body {
height: 100vh;
background-color:powderblue;
background-repeat: no-repeat;
background-size: cover;
}

.pasto {
position:fixed;
height: 50vh;
width: 80vh;
bottom: 0;
right:0vh;
z-index:5;
}

.pasto1 {
position:fixed;
height: 50vh;
width: 80vh;
bottom: 0;
left: 0vh;
z-index:5;
}

.rio {
position:fixed;
width: 50vh;
bottom: 0;
left: 75vh;
z-index: 4;
}

.ecope { 
position: fixed;
width: 90vh;
bottom: 22vh;
right: 122vh;
z-index: 5;
}

.ecope1 { 
position: fixed;
width: 90vh;
bottom: 22vh;
left: 65vh;
z-index: 5;
}

.ecope2 { 
position: fixed;
width: 90vh;
bottom: 22vh;
left: 140vh;
z-index: 5;
}



.cristo {
  position: fixed;
  width: 30vh;
  bottom: 15vh;
  left: 46vh;
  z-index: 2;
}


.speech-bubble {
  position: fixed;
  bottom: 75vh;       
  left: 55vh;    
  background: rgb(248, 193, 49);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 3vh 3vh;
  border-radius: 3vh;
  white-space: nowrap;
  display: none;
  z-index: 20; 
}

.speech-bubble::after {
  content: "";
  position: absolute;
  bottom: -1vh;         /* debajo de la burbuja */
  left: 1vh;            /* hacia la izquierda */
  border-left: 3vh solid transparent;
  border-right: 3vh solid transparent;
  border-top: 3vh solid rgb(248, 193, 49);
}

.speech-bubble.active {
  display: block;
}




.chigui {
position: fixed;
width: 20vh;
bottom: 1vh;
left: 75vh;
z-index: 6;
}

.iguana {
position: fixed;
width: 28vh;
bottom: 26vh;
left: 125vh;
z-index: 4;
}

.SUNRAYS {
  position: fixed;
  width: 30vh; 
  top: 8vh;
  right: 35vh;
  z-index: 4;
  animation: girar 2s linear infinite;
  transform-origin: center;
}

.SOL {
  position: fixed;
  width: 14vh; 
  top: 16vh;   
  right: 43vh;
  z-index: 5;
  mix-blend-mode:luminosity;
  animation: parpadeo-fuerte 0.5s steps(1) infinite;
}

@keyframes parpadeo-fuerte {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes girar {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}


.corrupto1 {
position: fixed;
width: 30vh;
bottom: 0;
right: 160vh;
z-index:8;
}

.corrupto2 {
position: fixed;
width: 25vh;
bottom: 9vh;
right: 145vh;
z-index: 7;
}

.corrupto3 {
position: fixed;
width: 50vh;
bottom: 10vh;
right: 170vh;
z-index: 9;
}


.ayunta {
position: fixed;
width: 50vh;
bottom: 5vh;
right: 150vh;
z-index:5;
}

.dinero {
position: fixed;
height: 50vh;
width: 65vh;
bottom: 1vh;
right: 140vh;
z-index: 6;
}

