body {
background-color: rgb(255, 213, 237);
}

.dokdo-regular {
  font-family: "Dokdo", system-ui;
  font-weight: 400;
  font-style: normal;
}

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}


#who {
   font-family: "Dokdo", system-ui;
   color: darkslateblue;
   font-size: 5em;
   text-align: center;
}

#am {
   font-family: "Dokdo", system-ui;
   color: darkslateblue;
   font-size: 5em;
   position: absolute;
   top: 30%;
   left: 40%;
}

#i {
   font-family: "Dokdo", system-ui;
   color: darkslateblue;
   font-size: 5em;
   position: absolute;
   top: 15%;
   right: 40%;
}