body {
background-color: ghostwhite;
cursor: url("fotos/cursor.png"), auto !important;
background-image: url("https://64.media.tumblr.com/de73410d6d50f5a962abe9438059e37b/tumblr_mt9yl2pgLh1qa4szeo5_r1_500.gifv"); 
background-repeat: repeat-y;
background-position-x: right;
background-blend-mode:color-dodge;
}

a {
  color: darkslateblue;
}


.barriecito-regular {
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
}

.margen {
color: lavender;
}

#who {
   font-family: "Barriecito", system-ui;
   color: lavender;
   font-size: 3em;
   text-align: center;
}

#am {
   font-family: "Barriecito", system-ui;
   color: lavender;
   font-size: 3em;
   position: absolute;
   top: 30%;
   left: 40%;
}

#i {
   font-family: "Barriecito", system-ui;;
   color: darkslateblue;
   font-size: 3em;
   position: absolute;
   top: 30%;
   right: 40%;
}

p {
color: black;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}  
